# Frontend
VITE_MAPBOX_TOKEN=
VITE_BACKEND_URL=http://127.0.0.1:3001
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=

# Backend
DATABASE_URL=sqlite:///database2.db
FLASK_APP_KEY=
FLASK_APP=src/app.py
FLASK_DEBUG=0
MISTRAL_API_KEY=
MISTRAL_MODEL=mistral-small-latest
MAPBOX_TOKEN=
