flask==3.0.3
flask-sqlalchemy==3.1.1
flask-migrate==4.0.7
flask-cors==4.0.1
flask-admin==2.0.0
flask-jwt-extended==4.6.0
flask-swagger==0.2.14
gunicorn==22.0.0
sqlalchemy==2.0.36
alembic==1.13.3
psycopg2-binary==2.9.9
python-dotenv==1.0.1
werkzeug==3.0.6
wtforms==3.1.2
requests==2.31.0
cloudinary==1.40.0
colorama==0.4.6
typing-extensions==4.12.2
pyyaml==6.0.2
